

<section class="login-block">
  <div style="background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131__480.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-5">
        <h2 class="text-center"><u>Student Login</u></h2>
        <form action="" #form="ngForm" (ngSubmit)="loginData(form)">
          <div class="form-group">
              <label>User Details</label>
            <input type="text" class="form-control" placeholder="Enter USN No." name="USN" id="USN"
             #USN="ngModel" ngModel minlength="3" required>

            <div *ngIf="USN.invalid && USN.touched">
              <p *ngIf="USN.errors.required" class="text-danger">*This field is mandatory</p>
                <p *ngIf="USN.errors.minlength" class="text-danger">*This field accepts minimum
                  3 characters</p>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password"placeholder="Enter Password" #password="ngModel" ngModel required>
            <div *ngIf="password.invalid && password.touched">
              <p *ngIf="password.errors.required" class="text-danger">*This field is mandatory
                <p *ngIf="password.errors.minlength" class="text-danger">*This field accepts minimum
                  8 characters
            </div>

          </div>


          <div class="form-group">
              <button type="submit" class="btn btn-outline-info float-right" [disabled]="form.invalid">Login</button>
          </div>

        </form>

      </div>
      <div class="col-md-8 mt-5 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid"
                src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825__480.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                    
                  <h2  text-color="red">Library Management System</h2>
                  <p> A library is a curated collection of sources of information and similar
                       resources, selected by experts and made accessible to a defined community 
                       for reference or borrowing.
                      </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid"
                src="https://cdn.pixabay.com/photo/2016/01/19/17/53/writing-1149962__480.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Library Management System</h2>
                  <p> A library is organized for use and maintained by a public body,
                      Public and institutional collections and services may be intended by
                       an institution, or a private individual.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid"
                src="https://cdn.pixabay.com/photo/2015/05/31/15/14/woman-792162__480.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Library Management System</h2>
                  <p> Modern libraries are increasingly being redefined as places to get 
                      unrestricted access to information in many formats from many sources. 
                       by providing material accessible by electronic means.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section> 


































<!-- <h3 *ngIf='error' class="col-md-4 offset-4 mt-5 mb-5 alert-warning">{{error}}</h3>
<div class="login col-md-4 mt-5 mb-5 offset-4 card card-body">
    <h3 class="text-center text-dark bg-danger"> Student Login Form</h3>
    <form action="" #form="ngForm" (ngSubmit)="loginData(form)">
        <div class="form-group">
            <input type="text" name="USN" id="USN" #USN="ngModel" ngModel class="form-control" placeholder="enter USN" required>
        <div *ngIf="USN.touched && USN.invalid">
            <p class="text-danger" *ngIf="USN.errors.required">This field required</p>
        </div>
        </div>
        <div class="form-group">
                <input type="password" name="password" #password="ngModel" ngModel id="password" class="form-control" placeholder="enter password" required>
         <div *ngIf="password.touched && password.invalid">
            <p class="text-danger" *ngIf="password.errors.required">This field required</p>
          </div>
         </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Login</button>
        </div>
            
    </form>
</div>  -->


































