div.login{
    margin-bottom: 200px;
}


  h2
  {
    color: rgb(29, 4, 4);
  }

  p
  {
      color: rgb(29, 4, 4);
  }

  style {
    background-repeat: no-repeat;
    background-size: 800px 500px;
  }