<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FilehHandling/src/com/ustglobal/FileHandling/PropertiesFilereader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ustglobal.FileHandling.PropertiesFilereader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FilehHandling"/>
</launchConfiguration>
